#landing-bg-img
#form-wrapper
  .container
    = form_tag search_path, :method => :get, :class => 'form-inline' do
      .input-group
        %input#search-box.form-control{:type => "search", :required => true, :name => "text", :placeholder => "Type your search..."}
          .input-group-btn
            %button.btn.btn-default#search-btn{:type => "submit"}
              %i.glyphicon.glyphicon-search
